body {
 background-color: #e9e9e9;
}

#outer-home {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 3vh;
}

#home{
 background-image: url('../images/home.jpg');
 opacity: 0.8;
 height: 96vh;
 width: 86%;
 background-size: cover;

