body {
 
}

#outer-home {
 background-color: #2c3e50;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

#home {
 background-image: url('../images/home.jpg');
 opacity: 0.4;
 height: 99vh;
 width: 100%;
 background-size: cover;
	
}

#outer-projects {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: #2c3e50;
}

#heading {
 color: white;
 letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
}


#projects {
 padding-top: 10vh;
 height: 100vh;
 width: 100%;
 	
}

