body {
  background-color: #2c3e50;
}

#outer-home {
 background-color: #2c3e50;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

#home {
 background-image: url('../images/home.jpg');
 opacity: 0.4;
 height: 99vh;
 width: 100%;
 background-size: cover;
	
}

h1 a {
	float: left;
	margin-left: 25px;
}

#outer-projects {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: #2c3e50;
}

#heading {
 color: beige;
 letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
	opacity: 1;
	text-align: center;

}

#connect {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 30vh;
}

#projects {
 padding-top: 10vh;
 height: 100vh;
 width: 100%;
 	
}

#footer {
	display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 color: beige;
	letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

