body {
  background-color: #2c3e50;
}

#outer-home {
 background-color: #2c3e50;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
	 

}

#home {
 background-color: #2c3e50;
 color: white;
 height: 80%;
 width: 40%;
	
}

#home p {
	
	text-align: center;
	padding-bottom: 3vh;
	padding-top: 3vh;
  font-size: 30px;
	font-family: 'Advent Pro', sans-serif;
}



#outer-projects {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: #2c3e50;
}

#heading {
 color: beige;
 letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
	margin-bottom:  6vh;
	text-align: center;

}


#connect {
 
margin-top: 250px;
margin-bottom: 400px;
}

#connect a {
 padding: 5px;
}

#projects {
 height: 100%;
 width: 100%;
 	
}

#outer-about {
 background-color: #2c3e50;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;

}

#about {
 background-image: url('../images/home.jpg');
 opacity: 0.2;
 height: 100%;
 width: 100%;
 background-size: cover;
	display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
	
}

#footer {
	
 color: white;
	letter-spacing: 3px;
  font-family: 'Dosis', sans-serif;
	margin-top: 5vh;
	margin-bottom: 5vh;
	 background-color: #2c3e50;
	text-align: center;
}

