#home{
 background-color: #000000;
 height: 600px;
}

#nav {
 position: fixed;
}

#nav a {
  color: #fff;
	font-family: 'Text Me One', sans-serif;
	text-decoration: none;
	padding: 0px 25px;
	padding-top: 5px;
	font-size: 19px;
	letter-spacing: 2px;
	float: right;
}


#about {
  border: 1px solid #E41B17 ;
	text-align: center;
  border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
  top: 150px;
	width: 370px;
	height: 370px;
	text-align: center;
} 

.africa {
 color: #D1CAB0 ;
 font-size: 15px;
 font-family: 'Raleway', sans-serif;
 letter-spacing: 3px;
 margin-top: 33px;
}

.copyright {
  color: #911B17 ;
	font-family: 'Raleway', sans-serif;

} 


.row a {
  text-decoration: none;
}


#nganga {
	font-size: 29px;
	color: #fff;
	margin-top: 70px;
	height: 65%;
	letter-spacing: 4px;
  font-family: 'Slabo 27px', serif;
}

#ishi_leo {
 font-family: 'Text Me One', sans-serif;
 font-size: 20px;
 font-weight: 200;
 font-size: 20px;
 letter-spacing: 2px;
}


#project_title {
 background-color: #000080;
 font-family: 'Raleway', sans-serif;
 color: #fff;
 height: 600px;
	display: flex;
    align-items: center;
    justify-content: center;
}

#interest_title {
 background-color: #AA0078;
 font-family: 'Raleway', sans-serif;
 color: #fff;
 height: 600px;
 display: flex;
 align-items: center;
 justify-content: center;
}

#row span {
  letter-spacing: 9px;
	font-size: 50px;
}

#space {
 height: 3px;
}
 


#about_title {
 background-color: #B3B3D7;
 height: 600px;
 letter-spacing: 9px;
 font-size: 50px;
 color: #fff;
 font-family: 'Raleway', sans-serif;
	display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
   background-color: #000;
	 height: 100px;
	text-align: center;
}

