#outer-home {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 5vh;
}
#home{
 background-image: url('../images/home.jpg');
 height: 94vh;
 width: 80%;
 background-size: cover;

}

